body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #111;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: black;
}

.logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 28px;
    color: orange;
    letter-spacing: 2px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #ffd54f, #ff9800);
}

.hero button {
    padding: 10px 20px;
    background: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: orange;
}

.produse {
    padding: 40px;
    text-align: center;
}

.card {
    display: inline-block;
    background: #222;
    padding: 20px;
    margin: 10px;
    width: 200px;
    border-radius: 10px;
}

.galerie {
    padding: 50px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.item {
    background: #222;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
   
}

.item img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
    
}

.item:hover {
    transform: translateY(-5px);
    background: #333;
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.light-mode {
    background: white;
    color: black;
}

.light-mode header {
    background: #ddd;
}

.light-mode .item {
    background: #f5f5f5;
    color: black;
}

.light-mode nav a {
    color: black;
}

html {
    scroll-behavior: smooth;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.contact-info {
    font-size: 18px;
    line-height: 1.8;
}

.map {
    width: 400px;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background: orange;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    display: none; /* ascuns la început */
    z-index: 9999;
}

.social {
    margin-top: 15px;
}

.social a {
    color: orange;
    font-size: 24px;
    margin: 0 10px;
    transition: 0.3s;
}

.social a:hover {
    color: rgba(255, 166, 0, 0.748);
    transform: scale(1.2);
}

h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    color: orange;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

h2, .logo {
    text-shadow: 0 0 10px rgba(255,165,0,0.7);
}

#cart {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 250px;
    background: #222;
    padding: 15px;
    border-radius: 10px;
}

#cart h2 {
    font-size: 18px;
}

#cart ul {
    list-style: none;
    padding: 0;
}

#cart li {
    margin-bottom: 5px;
}

.buy-btn {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: linear-gradient(45deg, orange, #ff6600);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.buy-btn:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #ff6600, orange);
}

.buy-btn:active {
    transform: scale(0.95);
}

#cartBtn {
    background: orange;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

#cartBox {
    position: fixed;
    top: 70px;
    right: 20px;
    width: 260px;
    background: gray;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 15px;
    display: none; /* 🔥 ascuns */
    z-index: 1000;
}

#cartBox.show {
    display: block;
}

.remove-btn {
    margin-left: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 6px;
}

.remove-btn:hover {
    background: darkred;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background: orange;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: gray;
    min-width: 160px;
    border-radius: 8px;
    z-index: 1000;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.dropdown-content a:hover {
    background: #333;
}

.dropdown-content.show {
    display: block;
}